@import "tailwindcss";

@theme {
    --color-primary: #5e34b1;
    --color-secondry: #5011cc;
    --color-text-primary: #243e63;
    --color-text-secondry: #7c8ba1;
}

@font-face {
    font-family: estedad;
    src: url(../../public/font/Estedad-Light.woff2) format(woff2);
}

* {
    transition: 0.5s all ease;
    box-sizing: border-box;
}

.animate-section {
    transition: 0.1s all linear !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: estedad;
    overflow-x: hidden;
}

p {
    line-height: 32px;
}